@import "colors.css";

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
    font-family: 'iA Writer Duospace', monospace;
    background: var(--content-bg-color);
}

a {
    color: var(--link-text-color);
    text-decoration: none;
}

.article {
    width: 100vw;
    height: 100vh;
    z-index: 998;
    bottom: 0%;
    top: 0%;
    -webkit-overflow-scrolling: touch;
    background: var(--content-bg-color);
}

.article-toolbar {
    position: fixed;
    width: 100vw;
    height: 80px;
    background: var(--statusbar-bg);
    margin-top: env(safe-area-inset-top);
}

.article-toolbar-back {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 24px;
    margin-right: 24px;
    position: absolute;
    top: 50%;
    font-size: 32px;
    color: white;
    transform: translateY(-50%);
}

.article-toolbar-back:hover {
    cursor: pointer;
}

.article-content {
    overflow-y: scroll;
    height: 100%;
}

.article-title {
    font-size: 32px;
    margin-left: 24px;
    margin-right: 24px;
    color: var(--title-text-color);
}

.article-text {
    font-size: 22px;
    margin-left: 24px;
    margin-right: 24px;
    color: var(--description-text-color);
}