@import "colors.css";

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
    font-family: 'iA Writer Duospace';
}

* {
    border-radius: 8px;
    transition: background 0.4s;
}

a {
    color: var(--link-text-color);
    text-decoration: none;
}

hr {
    background-color: var(--divider-color);
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
}

/** Title **/

.title {
    font-size: 64px;
    padding-left: 24px;
    padding-right: 24px;
    color: var(--title-text-color);
    font-weight: bold;
}

#articles-list:last-child,
#menu-list:last-child {
    margin-bottom: env(safe-area-inset-bottom);
}

/** Add to Homescreen icon **/

.add-to-homescreen {
    position: relative;
    float: right;
    padding: 12px;
    margin-left: 12px;
    margin-top: 16px;
    margin-right: 12px;
    outline: none;
    border: 0;
    fill: var(--hamburger-color);
}

/** Hamburger menu icon **/

.hamburger {
    padding: 12px;
    margin-left: 12px;
    margin-top: 12px;
    margin-right: 12px;
    outline: none;
    border: 0;
    fill: var(--hamburger-color);
}

/** Loading shimmer **/

.ph-item {
    border: none;
    margin-top: -26px;
    background: var(--content-bg-color);
}

.ph-item:before {
    background: var(--shimmer-bg);
}

.ph-row>[class^="ph-col-"] {
    background-color: var(--shimmer-col-bg);
}

/** Articles **/

#articles-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.article {
    padding: 24px;
    user-select: none;
    -webkit-user-select: none;
}

.article-title {
    font-weight: bold;
    color: var(--title-text-color);
    font-size: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.article-description {
    font-size: 16px;
    color: var(--description-text-color);
    overflow: hidden;
    margin-top: -16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/** Menu **/

#menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    background: var(--drawer-item-bg-color);
    color: var(--drawer-item-text-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.menu-item:active {
    background: var(--drawer-item-hover-bg-color);
}

.menu-item.unselectable {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
}

.menu-item.unselectable:active {
    background: var(--drawer-bg-color);
    cursor: default;
}

/** Expanded article */

.expanded-article {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    bottom: 0;
    top: 0;
    transition: all 0.5s;
    transform: translate(0, 100vh);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    background: var(--content-bg-color);
}

.expanded-article-toolbar {
    position: fixed;
    width: 100vw;
    height: 80px;
    background: var(--statusbar-bg);
    margin-top: env(safe-area-inset-top);
}

.expanded-article-toolbar-back {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 50%;
    font-size: 32px;
    color: var(--title-text-color);
    transform: translateY(-50%);
}

.expanded-article-toolbar-back>h5 {
    margin-left: 12px;
    margin-right: 12px;
    padding: 12px;
}

.expanded-article-content {
    overflow-y: scroll;
    height: 100%;
}

.expanded-article-title {
    font-size: 32px;
    margin-left: 24px;
    margin-right: 24px;
    color: var(--title-text-color);
}

.expanded-article-text {
    font-size: 22px;
    margin-left: 24px;
    margin-right: 24px;
    color: var(--description-text-color);
}

/** Expanded menu */

.expanded-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    bottom: 0;
    top: 0;
    transition: all 0.5s;
    transform: translate(0, 100vh);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    background: var(--content-bg-color);
}

.expanded-menu-toolbar {
    position: fixed;
    width: 100vw;
    height: 80px;
    background: var(--statusbar-bg);
    margin-top: env(safe-area-inset-top);
}

.expanded-menu-toolbar-close {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 50%;
    font-size: 32px;
    color: var(--title-text-color);
    transform: translateY(-50%);
}

.expanded-menu-toolbar-close>h5 {
    margin-left: 12px;
    margin-right: 12px;
    padding: 12px;
}

.expanded-menu-content {
    overflow-y: scroll;
    height: 100%;
}

/** Hover state */

@media (hover: hover) {

    .hamburger:hover {
        cursor: pointer;
        background: var(--hamburger-hover-bg-color);
    }

    .add-to-homescreen:hover {
        cursor: pointer;
        background: var(--hamburger-hover-bg-color);
    }

    .menu-item:hover {
        background: var(--drawer-item-hover-bg-color);
        cursor: pointer;
    }

    .menu-item.unselectable:hover {
        background: var(--drawer-bg-color);
        cursor: default;
    }

    .article:hover {
        cursor: pointer;
        background: var(--article-item-hover-bg-color);
    }

    .expanded-article-toolbar-back>h5:hover {
        cursor: pointer;
        background: var(--toolbar-back-hover-bg-color);
    }

    .expanded-menu-toolbar-close>h5:hover {
        cursor: pointer;
        background: var(--toolbar-back-hover-bg-color);
    }
}

/** Focus state */

.hamburger:active {
    cursor: pointer;
    background: var(--hamburger-hover-bg-color);
}

.add-to-homescreen:active {
    cursor: pointer;
    background: var(--hamburger-hover-bg-color);
}

.menu-item:active {
    background: var(--drawer-item-hover-bg-color);
    cursor: pointer;
}

.menu-item.unselectable:active {
    background: var(--drawer-bg-color);
    cursor: default;
}

.article:active {
    cursor: pointer;
    background: var(--article-item-hover-bg-color);
}

.expanded-article-toolbar-back>h5:active {
    cursor: pointer;
    background: var(--toolbar-back-hover-bg-color);
}

.expanded-menu-toolbar-close>h5:active {
    cursor: pointer;
    background: var(--toolbar-back-hover-bg-color);
}