:root {
    --statusbar-bg: rgba(255, 255, 255, 0.75);
}

/** Status Bar **/

.statusbar {
    position: fixed;
    width: 100vw;
    height: env(safe-area-inset-top);
    background: var(--statusbar-bg);
    z-index: 999999999;
}

.fake-statusbar {
    height: env(safe-area-inset-top);
}